Repository ISPP-2425-G4/borroo, pull requests merged in 2025-03, with the labels that each got.

#92 fix(backend): arreglo urls del backend
  backend/objetos/urls.py
  backend/rentas/urls.py
  backend/usuarios/urls.py
Labels: bug

#246 Deshabilitar boton de confirmación en formularios y ver contraseña
  backend/usuarios/urls.py
  backend/usuarios/views.py
  docs/Sprint 2/Calendario NikoNiko.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/styles/CreateItem.css
  frontend/public/styles/Login.css
  frontend/src/CreateItem.jsx
  frontend/src/Login.jsx
  frontend/src/SignUp.jsx
  frontend/src/UpdateItem.jsx
Labels: Subgrupo 2, Frontend

#252 Fix/validacion frontend puesta en alquiler
  docs/Sprint 2/Calendario NikoNiko.md
  frontend/public/styles/CreateItem.css
  frontend/src/CreateItem.jsx
  frontend/src/Layout.jsx
  frontend/src/Navbar.jsx
Labels: Subgrupo 1, Frontend

#260 feat: Implementacion solicitar un alquiler
  backend/objetos/models.py
  backend/objetos/serializers.py
  backend/objetos/urls.py
  backend/objetos/views.py
Labels: Subgrupo 3, Backend

#258 Footer
  frontend/public/styles/Footer.css
  frontend/src/App.jsx
  frontend/src/components/Footer.jsx
Labels: Subgrupo 2, Frontend

#255 Full-stack tablón de solicitudes de alquiler
  backend/rentas/views.py
  frontend/src/App.jsx
  frontend/src/Navbar.jsx
  frontend/src/RentRequestBoard.jsx
Labels: Subgrupo 2, Fullstack

#264 Feature/mejora estetica de la aplicacion
  backend/seeders.py
  docs/Sprint 2/Calendario NikoNiko.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/styles/CreateItem.css
  frontend/public/styles/Login.css
  frontend/src/App.css
  frontend/src/CreateItem.jsx
  frontend/src/Layout.jsx
  frontend/src/Login.jsx
  frontend/src/Navbar.jsx
  frontend/src/RecoverPassword.jsx
  frontend/src/ShowItem.jsx
  frontend/src/SignUp.jsx
  frontend/src/SubscriptionScreen.jsx
  frontend/src/UpdateItem.jsx
  frontend/src/index.css
  frontend/src/main.jsx
Labels: Subgrupo 1, Frontend

#270 Feature/fullstack subcategorias tras merge
  backend/objetos/models.py
  backend/objetos/serializers.py
  backend/objetos/views.py
  backend/seeders.py
  backend/tests/unit/test_search_items.py
  frontend/package-lock.json
  frontend/src/CreateItem.jsx
  frontend/src/Layout.jsx
  frontend/src/SearchItemByName.jsx
  frontend/src/ShowItem.jsx
  frontend/src/UpdateItem.jsx
Labels: Subgrupo 1, Backend, Frontend, Fullstack

#275 Validaciones frontend aceptar/rechazar alquiler y mejorando los estilos
  frontend/public/styles/App.css
  frontend/src/App.jsx
  frontend/src/Navbar.jsx
  frontend/src/RentRequestBoard.jsx
Labels: Subgrupo 2, Frontend

#279 Frontend productos destacados
  backend/objetos/views.py
  frontend/src/Layout.jsx
  frontend/src/ShowItem.jsx
Labels: Subgrupo 2, Frontend

#278 Frontend notificaciones y botón para pagar
  backend/rentas/views.py
  frontend/src/RentRequestBoard.jsx
  frontend/src/components/RequestCardsContainer.jsx
Labels: Subgrupo 2, Frontend

#281 Feature/backend admin
  backend/rentas/serializers.py
  backend/seeders.py
  backend/usuarios/admin.py
  backend/usuarios/models.py
  backend/usuarios/serializers.py
  backend/usuarios/urls.py
  backend/usuarios/views.py
Labels: Subgrupo 1, Backend

#271 Feature/fullstack restricciones puesta en alquiler
  backend/borroo/settings.py
  backend/rentas/serializers.py
  backend/rentas/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ShowItem.jsx
Labels: Subgrupo 2, Fullstack

#284 Testing crud pedir un alquiler
  backend/objetos/models.py
  backend/tests/unit/test_crud_ask_for_a_rent.py
Labels: Subgrupo 1, Fullstack

#285 Test/tablon solicitudes
  backend/rentas/tests.py
Labels: Subgrupo 2

#283 Feature/fullstack restricciones puesta en alquiler objeto
  backend/borroo/settings.py
  backend/objetos/models.py
  backend/objetos/serializers.py
  backend/objetos/views.py
  backend/utils/utils.py
  frontend/package-lock.json
  frontend/src/CreateItem.jsx
  frontend/src/ShowItem.jsx
  frontend/src/UpdateItem.jsx
Labels: Subgrupo 2, Fullstack

#292 Feature/validaciones backend aceptar/rechazar alquiler
  backend/rentas/views.py
  frontend/src/RentRequestBoard.jsx
Labels: Subgrupo 2, Backend

#293 fix: terminos y condiciones al registrarse
  frontend/src/SignUp.jsx
Labels: Subgrupo 1, Frontend

#301 Documento SLA + pricing
  docs/Sprint 2/Acuerdo a Nivel de Servicio.md
  docs/Sprint 2/Calendario NikoNiko.md
Labels: Subgrupo 2

#302 Documentation/subgrupo 2 Usuarios piloto y evaluación de estos
  docs/Sprint 2/Pilots CA/firmasUp/firma_angel.png
  docs/Sprint 2/Pilots CA/firmasUp/firma_daniel.png
  docs/Sprint 2/Pilots CA/firmasUp/firma_josue.png
  docs/Sprint 2/Pilots CA/firmasUp/firma_karim.png
  docs/Sprint 2/Pilots CA/firmasUp/firma_pablo.png
  docs/Sprint 2/Pilots CA/pilotUsersCommitmentAgreedmentKarim.md
  docs/Sprint 2/Pilots CA/pilotUsersCommitmentAgreement.md
  docs/Sprint 2/Pilots CA/pilotUsersCommitmentAgreementAngel.md
  docs/Sprint 2/Pilots CA/pilotUsersCommitmentAgreementDanielFlores.md
  docs/Sprint 2/Pilots CA/pilotUsersCommitmentAgreementExternos.md
  docs/Sprint 2/Pilots CA/pilotUsersCommitmentAgreementJosuéRodríguez.md
  docs/Sprint 2/Pilots CA/pilotUsersCommitmentAgreementPabloOlivencia.md
  docs/Sprint 2/pilotUsers.md
  docs/Sprint 2/pilotUsersPerformanceEvaluation.md
  docs/Sprint 2/pilots(encuesta).md
Labels: Subgrupo 2

#308 fix: pasar desde el frontend fechas sin zona horaria
  backend/rentas/serializers.py
  frontend/src/ShowItem.jsx
Labels: Subgrupo 2

#316 feat: Arreglado deja hacer rentas si se ha cancelado
  backend/rentas/views.py
Labels: Subgrupo 2, Backend
