Repository ISPP-2425-G4/borroo, pull requests merged in 2025-05, with the labels that each got.

#544 Añadir ubicación en la publicación de anuncios
  backend/objetos/serializers.py
  frontend/src/ListItemRequests.jsx
Labels: Frontend

#556 fix: Corregido desplegable años
  frontend/src/CreateItem.jsx
  frontend/src/ShowItem.jsx
  frontend/src/UpdateItem.jsx
Labels: Subgrupo 1, Frontend

#554 Test/e2e subgrupo2
  backend/tests/e2e/test_create_renta/test_create_and_accept_renta.py
  backend/tests/e2e/test_create_renta/test_create_renta.py
  backend/tests/performance/locustfile_subs.py
  backend/tests/unit/test_crud_items.py
Labels: Subgrupo 2

#561 Documentation/subgrupo 2
  docs/PPL/Pilots CA/firmasUp/firma_angel.png
  docs/PPL/Pilots CA/firmasUp/firma_daniel.png
  docs/PPL/Pilots CA/firmasUp/firma_josue.png
  docs/PPL/Pilots CA/firmasUp/firma_karim.png
  docs/PPL/Pilots CA/firmasUp/firma_pablo.png
  docs/PPL/Pilots CA/pilotUsersCommitmentAgreement.md
  docs/PPL/Pilots CA/pilotUsersCommitmentAgreementAngel.md
  docs/PPL/Pilots CA/pilotUsersCommitmentAgreementDanielFlores.md
  docs/PPL/Pilots CA/pilotUsersCommitmentAgreementExternos.md
  docs/PPL/Pilots CA/pilotUsersCommitmentAgreementJosuéRodríguez.md
  docs/PPL/Pilots CA/pilotUsersCommitmentAgreementKarim.md
  docs/PPL/Pilots CA/pilotUsersCommitmentAgreementPabloOlivencia.md
  docs/PPL/Resumen Feedback.md
  docs/PPL/pilotUsers.md
  docs/PPL/pilotUsersPerformanceEvaluation.md
  docs/PPL/pilots(encuesta).md
Labels: Docs

#566 fix: Arreglado calificación de usuarios piloto final
  docs/PPL/pilotUsersPerformanceEvaluation.md
Labels: Docs

#570 Documentation/revision
  docs/PPL/capturasRevision/premium4.png
  docs/PPL/capturasRevision/saldo1.png
  docs/PPL/capturasRevision/saldo2.png
  docs/PPL/revision.md
Labels: Docs

#572 fix: Correccion sprint
  docs/PPL/revision.md
Labels: Docs

#574 docs: añadidos los documentos referentes a los UP y cambio de versión en la portada de estos
  docs/WPL/Pilots CA/firmasUp/firma_angel.png
  docs/WPL/Pilots CA/firmasUp/firma_daniel.png
  docs/WPL/Pilots CA/firmasUp/firma_josue.png
  docs/WPL/Pilots CA/firmasUp/firma_karim.png
  docs/WPL/Pilots CA/firmasUp/firma_pablo.png
  docs/WPL/Pilots CA/pilotUsersCommitmentAgreement.md
  docs/WPL/Pilots CA/pilotUsersCommitmentAgreementAngel.md
  docs/WPL/Pilots CA/pilotUsersCommitmentAgreementDanielFlores.md
  docs/WPL/Pilots CA/pilotUsersCommitmentAgreementExternos.md
  docs/WPL/Pilots CA/pilotUsersCommitmentAgreementJosuéRodríguez.md
  docs/WPL/Pilots CA/pilotUsersCommitmentAgreementKarim.md
  docs/WPL/Pilots CA/pilotUsersCommitmentAgreementPabloOlivencia.md
  docs/WPL/pilotUsers.md
  docs/WPL/pilotUsersPerformanceEvaluation.md
  docs/WPL/pilots(encuesta).md
Labels: Subgrupo 2, Docs
